body
{
background-color: Yellow;
}
.link1
{
font-size: 40px;
margin-left:10%;
float: left;
}
.link2
 {
font-size: 40px;
margin-left: 30%;
float: left;
}
.link3
{
font-size: 40px;
margin-left: 30%;
float: left;
}
.style
{
    background-color: Goldenrod;
    border: 8px #00BFFF;
    width: 30%;
}
.stealth 
{
    display: none;
}
.stealth:target 
{
    display: block;
}
.size
{
    font-family: Noto Sans, sans-serif;	
    font-size: 50px;
    text-align: center;
    color: ;
}
