body
{
background-color: Maroon;
}
.link1
{
font-size: 40px;
margin-left:10%;
float: left;
}
.link2
 {
font-size: 40px;
margin-left: 20%;
float: left;
}
.link3
{
font-size: 40px;
margin-left: 20%;
float: left;
}