body
{
background-color: OrangeRed;
}
.link1
{
font-size: 40px;
margin-left:10%;
float: left;
}
.link2
 {
font-size: 40px;
margin-left: 30%;
float: left;
}
.link3
{
font-size: 40px;
margin-left: 30%;
float: left;
}
.style
{
    background-color: Maroon;
    border: 8px #00BFFF;
    width: 30%;
}
.stealth 
{
    display: none;
}
.stealth:target 
{
    display: block;
}
.size
{
    font-family: Noto Sans, sans-serif;	
    font-size: 50px;
    text-align: center;
    color: ;
}
.stealth2 
{
    display: none;
}
.stealth2:target
{
    display: block;
}
.style2
{
    background-color: Maroon;
    border: 5px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
 .size2
{
    font-family: Noto Sans, sans-serif;	
    font-size: 50px;
    text-align: center;
    color: ;
}
.style3
 {
    background-color: Maroon;
    border: 8px #00BFFF;
    width: 30%;
}
 .stealth3 
{
    display: none;
}
.stealth3:target
{
    display: block;
}
 .style3
{
    background-color: Maroon;
    border: 5px;
    text-align: center;
    margin-left: 60%;
 }
  .size3
{
    font-family: Noto Sans, sans-serif;	
    font-size: 50px;
    text-align: center;
    color: ;
}
