p{
 font-family: 'Times New Roman', Times, serif;
 font-size: 50pt;
 color: white;
}
#game{ 
 width:150px;
 height:150px;
 background: red;
}
.block{
 width:50px;
 height:50px;
 float:left;
 border: 1px solid black;
 box-sizing: border-box;
}
