body
{    background: url(background5.png);
     border: 3px solid red;
     font-family: Verdana, Arial, Helvetica, sans-serif; 
     font-size: 20pt;
     color: white;
}
p
{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 28pt;
}
