body
{  
     background: url(background5.png);
}
h1
{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 28pt;
    color:white;
}
div
{
     border: 3px solid red;
     font-family: Verdana, Arial, Helvetica, sans-serif; 
     font-size: 20pt;
     color: white;
	 padding-left: 50px;
}

.test
{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 28pt;
    color:white;
}

