.one
{
  background-color: yellow;
  color:red;
  font: 12pt Arial;  
}
.two
{
  background-color: red;
  color: green; 
  font: 24pt sans-serif;  
}
.three
{
  background-color: blue;
  color:white;
  font: 30pt sans-serif;  
}
