.one
{
  background-color: yellow;
  color: red;
  font-family: Times, serif; 
  font-style: italic; 
}
.two
{
  background-color: red;
  color: green; 
  font: Georgia, serif;
.tri
{
  background-color: orange;
  color: white;
  font-famaly: Bookman, serif;
}
