.diamond-logo h1
{
	font-size: 65px;
}
.jumbotron
{
	height:;
}
.stealth
{
    display: none;
}
.stealth:target 
{
    display: block;
}


.type{
    border: 2px inset black;
	background: #B0C4DE;	
    font-size: 20px;
	float: left;
}

.name
{
	font-family: 'Gabriela', serif;
}


.place
{
	float: right;
}
hr 
{
    border: none;
    background-color: black; 
    height: 2px; 
}
a:hover 
{
	text-decoration: none; 
}
 A /*cсылки */
{
	color: 00fbff;
}
A:visited 
{
    color: 00fbff;
}
A:active 
{
    color: 00fbff;
}
