
.block1 { 
    background:rgb(224, 161, 0,0.9);
    color: black;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 35pt;
    line-height: 0.9em;
    text-align: center;
    font-variant: small-caps;
  }
.menu{
    background:rgb(224, 152, 0,0.9);
    line-height: 0.9em;
}
.nirvana{
    margin-left: 10%; 
 }
.img{
    margin-left: 8%; 
 }
body{
    background-image: url("background.jpg");
    background-attachment: fixed;
}
.stealth 
{
    display: none;
}
.stealth:target 
{
    display: block;
}
.groop{
    background:rgb(0, 0, 0, 0.7);
    color: yellow;
    font-family: Bradley Hand, cursive;
    font-size: 20pt;
    line-height: 0.9em;
    text-align:justify;
    margin-top: 3%;
    margin-right: 20%; 
    margin-left: 20%; 
    display: block;
}
.groop2{
    background:rgb(0,0,0,0.7);
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 20pt;
    line-height: 0.9em;
    text-align:justify;
    margin-top: 3%;
    margin-right: 20%; 
    margin-left: 20%; 
}
.groop3{
    background:rgb(255,255,255,0.7);
    color: black;
    font-family: Bradley Hand, cursive;
    font-size: 20pt;
    line-height: 0.9em;
    text-align:justify;
    margin-top: 3%;
    margin-right: 20%; 
    margin-left: 20%; 
}
.groop4{
    background:rgb(208,0,0,0.7);
    color: black;
    font-family: Bradley Hand, cursive;
    font-size: 20pt;
    line-height: 0.9em;
    text-align:justify;
    margin-top: 3%;
    margin-right: 20%; 
    margin-left: 20%; 
}
.groop5{
    background:rgb(0,0,0,0.7);
    color: rgb(240,230,140.7);
    font-family: Bradley Hand, cursive;
    font-size: 20pt;
    line-height: 0.9em;
    text-align: justify;
    margin-top: 3%;
    margin-right: 20%; 
    margin-left: 20%; 
}
.basement{
    background:rgb(224, 161, 0, 0.9);
    color: black;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20pt;
    line-height: 0.9em;
    text-align: left;
    margin-top: 3%;
   
    line-height: 0.9em;
}
.image{
     text-align: left;
    margin-bottom: 2%;
  }
@media screen and (max-width:500px){
    .block1{
        font-size:34px;
    }
    .menu{
     font-size: 27pt; 
    }
    .groop{
    margin-right: 4%; 
    margin-left: 4%;  
    margin-top: 13%;  
    font-size: 18pt;    
    }
     .groop2{
    margin-right: 4%; 
    margin-left: 4%;  
    margin-top: 10%;  
    font-size: 18pt;   
    }
     .groop3{
    margin-right: 4%; 
    margin-left: 4%;  
    margin-top: 10%;  
    font-size: 18pt; 
    }
     .groop4{
    margin-right: 4%; 
    margin-left: 4%;  
    margin-top: 10%;  
    font-size: 18pt;  
    }
     .groop5{
    margin-right: 4%; 
    margin-left: 4%;  
    margin-top: 10%;  
    font-size: 18pt;  
    }
    .image{
        margin-left:10%;
}
