
.block1 { 
    background-color: Orange;
    color: red;
    font-family: Times, serif; 
    font-style: italic; 
    font-size: 15pt;
    margin: 15px;
    line-height: 0.9em;
}
body{
    background-image: url("fon.png");
    
    background-attachment: fixed;
}
